/*
* File		  : /base/_reset.scss
* Author      : KAR
* Version	  : 1.0
* Summary	  : RESET
*/

a,abbr,acronym,address,applet,article,aside,audio,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,iframe,img,ins,kbd,label,legend,li,nav,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,ul,var,video{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;vertical-align:baseline;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
body{line-height:1.5;font-size:16px;font-family:'Apple SD Gothic Neo',Dotum,arial,Sans-serif;color:#000;word-break:keep-all;word-wrap:break-word}
dl,li,menu,ol,ul{list-style:none}
fieldset,img{border:0 none;-webkit-box-sizing:border-box;box-sizing:border-box}
table{width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0}
table caption{width:0;height:0;visibility:hidden;text-indent:-9999px;font-size:0;line-height:0}
caption,td,th{text-align:left;font-weight:400}
article,aside,audio,figure,footer,header,hgroup,main,nav,video{display:block}
a{color:inherit;text-decoration:none}
a:active,a:focus,a:hover{text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:400;-webkit-box-sizing:border-box;box-sizing:border-box}
button,input,select,textarea{vertical-align:middle;color:inherit;resize:none}

/* INPUT */
input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;outline:0;padding:0;font-family:inherit;line-height:inherit;border:none}
input[type=radio]{border-radius:100%}
button,input[type=button],input[type=submit]{border:0;padding:0;font-family:inherit;background-color:transparent;cursor:pointer;-webkit-box-sizing:border-box;box-sizing:border-box;outline:0}

/* PLACEHOLDER */
::-webkit-input-placeholder{font-family:inherit;color:$placeholderColor}
::-moz-placeholder{font-family:inherit;color:$placeholderColor}
:-ms-input-placeholder{font-family:inherit;color:$placeholderColor}
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder{color:transparent}
input:focus::-moz-placeholder,textarea:focus::-moz-placeholder{color:transparent}
input:focus:-ms-input-placeholder,textarea:focus:-ms-input-placeholder{color:transparent}

/* HTML5 RESET */
article,aside,details,figcaption,figure,footer,header,menu,nav,section,video{display:block}
address,caption,em,i{font-style:normal;font-weight:400}
embed,iframe,object,video{max-width:100%}

/* IPHONE */
input:disabled,textarea:disabled{opacity:1;-webkit-text-fill-color:inherit}
input[type=password],input[type=text],textarea{-webkit-appearance:none;border-radius:0}

/* ie input icon remove */
input::-ms-clear{display:none;width:0;height:0}
input::-ms-reveal{display:none;width:0;height:0}

/* hidden */
.hide{display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px}

/* skipnavi */
.skip--navi a{position:absolute;left:-3000%}
.skip--navi a:focus{display:block;left:0;top:0;z-index:10000000000;width:100%;line-height:60px;background:#fff;color:#000;font-family:LGL;text-align:center;outline:0}