/*
* File		  : /components/_button.scss
* Author      : KAR
* Version	  : 1.0
* Summary	  : button
*/

[class^="btn"] {
    width: 150px;
    height: 40px;
    background-color: #f2f2f2;
    border: 1px solid #e9e9e9;
}