/*
* File		  : /helpers/_media.scss
* Author      : KAR
* Version	  : 1.0
* Summary	  : 미디어쿼리 (Mobile First)
*/

// Break Point
$breakpoints: (
    "xs"    : 280px,     // mob-xs-width
    "s"     : 320px,     // mob-s-width
    "m"     : 640px,     // mob-l-width
    "l"     : 768px,     // tablet-width
    "xl"    : 1200px,    // desktop-width
);

// 미디어쿼리
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media all and (#{$type}-width: $width) {
            @content;
        }
    }
}
