/*
* File		  : /helpers/_mixin.scss
* Author      : KAR
* Version	  : 1.0
* Summary	  : ellipsis, list-bullet, display-flex, 
                position, Pseudo, background-image, fade
*/

// ellipsis
@mixin ellipsis($line: 1) {
    @if ($line == 1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}

// list-bullet
@mixin list-bullet($width: 2px, $height: 2px, $bgColor: #000, $radius: 50%) {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: $width;
    height: $height;
    background-color: $bgColor;
    border-radius: $radius;
}

// display-flex
@mixin flex($display: null, $justify: null, $align: null) {
    @if $display == flex {
        display: flex;
    } @else {
        display: inline-flex;
    }
    justify-content: $justify;
    align-items: $align;
}

// position
@mixin position($pos: null, $top: null, $right: null, $bottom: null, $left: null) {
    position: $pos;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// Pseudo base
@mixin pseudo-base($display: block, $width: null, $height: null) {
    content: "";
    position: absolute;
    display: $display;
    width: $width;
    height: $height;
}

// background image
@mixin bg($p: center, $s: cover, $r: no-repeat, $src: null) {
    background-position: $p;
    background-size: $s;
    background-repeat: no-repeat;
    background-image: url($src);
}

// fade
@mixin fade($type) {
    @if $type== "hide" {
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s, opacity 1s;
    } @else if $type== "show" {
        visibility: visible;
        opacity: 1;
        transition: visibility 1s, opacity 1s;
    }
}
