/*
* File		  : /helpers/_variable.scss
* Author      : KAR
* Version	  : 1.0
* Summary	  : (필요한 환경변수 추가해서 사용)
*/

// rem
$baseFontSize : 10;
@function px($pixels, $context: $baseFontSize) {
    @return ($pixels) / $context + rem;
}

// color
$baseColor: #222;
$placeholderColor: #888;
